body {
    font-family: 'Source Sans Pro';
    margin: 5px 15px;
    margin: 0.5em 1.5em;
    padding: 0;
}

p {
    font-size: 16px;
    font-size: 1.6rem;
    text-align: justify;
}
h1{
        font-size: 30px;
        font-size: 3.0rem;
    }

#div-menu-search {
    padding: 0;
    background-color: #ededed;
    padding-top: 15px;
}

#menu-search {
    list-style: none;
    padding: 0;
    float: right;
}

#menu-search li {
    float: left;
    display: inline;
    padding-left: 10px;
    padding-left: 1.0em;
}

#menu-search li a {
    text-decoration: underline;
}

#menu-search li input {
    border-radius: 10px;
    border-radius: 10em;
    text-align: center;
}

.navbar-default {
    background-color: white;
    border-color: white;
    margin-bottom: 0;
}

#select {
    float: right;
    margin-top: 12px;
    margin-top: 1.2rem;
    font-size: 16px;
    font-size: 1.6rem;
    width: 100px;
    width: 10.0rem;
}
#main-title{
    padding-left: 0;
}
#main-logo {
    float: left;
    margin: 8px;
    margin: 0.8rem;
    font-size: 25px;
    font-size: 2.5rem;    
}
#main-logo a{
    color: #555;
    font-weight: 500;
}
#main-menu1{
    padding-right: 0;
}

#main-menu {
    float: right;
    margin: 8px;
    margin: 0.8rem;
}
#main-menu li a{
    padding-right: 0;    
}
.img-section1 img{
    width: 100%;
        height: 250px;
    height: 25.0rem;
}

.text-section1 {
    margin-top: 10px;
    margin-top: 0.1rem;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

#section2 h2 {
    font-size: 20px;
    font-weight: 800;
}

.items-description {
    line-height: 20px;
}

.items-description h2 {
    margin: 0;
}

.items-description p {
    margin: 0;
    font-style: italic;
}

.items-description strong {
    font-weight: 600;
}

footer {
    margin-top: 30px;
    margin-top: 3.0rem;
}

footer #footer-first {
    background-color: #ededed;
    padding-bottom: 20px
}

footer ul {
    list-style: none;
    padding: 5px;
    padding: 0.5rem;
}

footer ul li {
    line-height: 30px;
    line-height: 3.0rem;
}

footer ul li a {
    text-decoration: underline;
}

footer img {
    margin-top: 15px;
    margin-top: 1.5rem;
}

footer #right {
    margin: 10px 0px;
    margin: 1.0rem 0;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    display: block;
    background-color: white;
}

@media screen and (min-width: 480px) {    
    #main-logo {
        font-size: 36px;
        font-size: 3.6rem;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
    #main-menu{
        font-size: 18px;
    }
}

@media screen and (min-width: 1400px) {}
